<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <!-- Configuração no NINJECT para Injeção de Dependencia da Camada de Acesso a Dados -->
    <add key="Data.Access" value="Data.Access.AdoNet.dll" />
    <!--<add key="Data.Access" value="Data.Access.EntityFramework.dll"/>-->
    <!--<add key="Data.Access" value="Data.Access.Twitter.dll"/>-->
    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="ADO.NET.SqlExpress" />
    <!-- Chaves para autenticação da aplicação no Twitter -->
    <add key="ConsumerKey" value="SA26P2HdmslCsaFJhncY0rRtW" />
    <add key="ConsumerSecret" value="4cX7n3n0sY0Hjiaq8vtXYNr2Eqvjqa4ZnSpHy29FwFiGjGEnjq" />
    <add key="AccessToken" value="749005178095927297-pcnjkwltr5jq3vxw7junsHQoIXZzt31" />
    <add key="AccessTokenSecret" value="FRIDiddL7ZP3WVUtTg5k8tXYrrAQervz1lmpn5y8c5AAt" />
  </appSettings>
  <!-- 
      Connection string settings 
    -->
  <connectionStrings>
    <!--<add name="PostDataBase" connectionString="C:\Users\Hugo\Documents\Visual Studio 2012\Projects\PostArchitectureSample\TestSolutionProject\bin\Debug\PostDB.sdf"
         providerName="System.Data.SqlServerCe.4.0"/>-->
    <add name="ADO.NET.SqlExpress" connectionString="Data Source=.\SqlExpress;Initial Catalog=Data.Access.EntityFramework.Context.PostContext;Integrated Security=True" />
    <!--
    <add name="EntityFramework.SqlServer" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Action;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />    
    <add name="ADO.NET.Oracle" connectionString="Data Source=MyStore;User Id=xxx;Password=yyy;Integrated Security=no;"/>
    <add name="ADO.NET.Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|MyStore.mdb"/>		
    <add name="ADO.NET.SqlServer" connectionString="Data Source=.\SqlExpress;Initial Catalog=MyStore;Integrated Security=True;Pooling=False"/>            
    -->

      <add name="VinhoBanco"
           connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=VinhoDB;Integrated Security=True"
           providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>